<div class="container">
  <div class="d-flex justify-content-center">
    <div>
      <div class="mb-4" *ngIf="getmyRequests && myRequestList && myRequestList.length > 0">
        <h2 class="mb-3">Connection Requests</h2>
        <div *ngFor="let request of myRequestList" class="card mb-3" style="width: 450px">
          <div class="card-header">
            <div class="d-flex justify-content-between align-items-center">
              <div>{{ request.sender.userName }}</div>
              <div>{{ request.sender.email }}</div>
            </div>
          </div>
          <div class="card-footer">
            <div class="btn-group" role="group" aria-label="Post Actions">
              <!-- Accept button -->
              <button
                type="button"
                class="btn btn-sm btn-success me-1"
                (click)="acceptRequest(request)"
                [disabled]="
                  request.requestStatus === 'Accepted' || request.requestStatus === 'Rejected'
                "
                [hidden]="
                  request.requestStatus === 'Accepted' || request.requestStatus === 'Rejected'
                "
              >
                <i class="fas fa-check-circle me-1"></i>Accept
              </button>
              <!-- Reject button -->
              <button
                type="button"
                class="btn btn-sm btn-danger"
                [disabled]="
                  request.requestStatus === 'Accepted' || request.requestStatus === 'Rejected'
                "
                [hidden]="
                  request.requestStatus === 'Accepted' || request.requestStatus === 'Rejected'
                "
                (click)="rejectRequest(request)"
              >
                <i class="fas fa-times-circle me-1"></i>Reject
              </button>
              <!-- Show request status -->
              <span
                *ngIf="request.requestStatus === 'Accepted' || request.requestStatus === 'Rejected'"
                [ngClass]="{
                  'text-success': request.requestStatus === 'Accepted',
                  'text-danger': request.requestStatus === 'Rejected'
                }"
              >
                {{ request.requestStatus }}
              </span>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="!myRequestList || myRequestList.length === 0">
        <h4 class="m-auto text-center">No requests available.</h4>
      </div>
    </div>
  </div>
</div>
